<style>

H1{
    color: #66bfbf;
    font-style: italic;
}
body{
    display: inline-block;
    background-color: azure;

}

hr {
    
border-style: dotted none none;
border-color: lightgray;
border-width: 7px;
width: 10%;
}
h2{
    color: #66bfbf;
    font-family: monospace;
}

H1{
    color: #66bfbf;
    font-style: italic;
}
form{
    background-color: papayawhip;
}
.middle{
    color: grey ;
    font-style: oblique;
}
img:hover{
    background-color: black;
}
</style>